[submodule "blog"]
	path = blog
	url = git@github.com:MyNetdisk/blog.git
[submodule "blog-admin"]
	path = blog-admin
	url = git@github.com:MyNetdisk/blog-admin.git
[submodule "blog-database"]
	path = blog-database
	url = git@github.com:MyNetdisk/blog-database.git
